.top-tile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-position: center;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1200px){
    .top-tile{
        background-size: 100vw auto;
        height: 800px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .top-tile{
        background-size: 100vw auto;    
    }
}

@media (max-width: 1000px){
    .top-tile{
        background-size: auto 100vh;
        padding-left: 50px;
        padding-right: 50px;
    }
}

#title{
    font-family: 'Crete Round', serif;
    text-align: center;
    font-size: 2.5em;
}

#text{
    text-align: center;
    margin-bottom: 25px;
}

.hr-style{
    /* border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
    background-color: black;
    height: 2px;
}